<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 navbar">
        <a routerLink="/" class="logo navbar-brand text-white offset-md-2">WD</a>
        <ul class="nav">
          <li class="nav-item active"><a  routerLink="/login" class="nav-link">Login</a></li>
          <li class="nav-item"><a  routerLink="/signup" class="nav-link">Sign Up</a></li>
          <li class="nav-item"><a  routerLink="#" class="nav-link">Contact Us</a></li>
        </ul>
      </div>

      <!-- slider banner	 -->

      <div id="bannerimg">
        <div class="backfade">
          <div class="items">
            <div class="info">
              <h1>Wedding Planners</h1>
              <div class="searchbar d-flex justify-content-center">
                <div class="input-group justify-content-center">
                  <div class="form-outline">

                    <input value="" placeholder="Search Ur Destination" class="search">
                  </div>
                  <button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="wrapper">
  <div class="container mx-auto mt-4">

    <div class="row">
      <div class="col-md-4">
        <div class="card text-white card-has-bg click-col mr-3" style="width: 18rem;"
          style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
          <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-white" herf="#">Goverment Lorem Ipsum Sit Amet Consectetur
                  dipisi?</a></h4>
              <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle"
                  src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                  alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Kalai Mahal</h6>
                  <small>Junction</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     

    </div>

  </div>
</section>